/* side-bar styles */

.num-style{
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: opacity(0);
    width: 2.2em;
    height: 2.2em;
    border-radius: 2em;
    border: 0.1em solid var(--white);
    transition: all 0.5s cubic-bezier(.76,.06,.12,.94);
}
.num-style-current{
    background-color: var(--l-blue);
    color: var(--m-blue);
    border-color: var(--l-blue);
}
.form-title{
    opacity: 0;
    animation-name: bounce;
    animation-duration: 0.5s; /* or: Xms */
    animation-iteration-count: 1;
    animation-direction: alternate; /* or: normal */
    animation-timing-function: cubic-bezier(.76,.06,.12,.94); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 0.1s; /* or: Xms */
    transition: all 0.5s cubic-bezier(.76,.06,.12,.94);
}
@keyframes bounce{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.form-title-active{
    opacity: 1;
}

.login-Container{
    background-color: white;
    position: absolute;
    display: flex;
    gap: 1em;
    top: 50%;
    left: 50%;
    padding: 1em;
    transform: translate(-50%, -50%);
    display: flex;
    height: 38em;
    width: 60em;
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 46px -9px rgba(97,117,128,0.3);
    -moz-box-shadow: 0px 0px 46px -9px rgba(97,117,128,0.3);
    box-shadow: 0px 0px 46px -9px rgba(97,117,128,0.3);
}
.side-points{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 2.5em;
    color: var(--white);
}
.side-bar{
    border-radius: 0.6em;
    width: 20em;
    background-image: url(../../assets/images/bg-sidebar-desktop.svg);
    background-repeat: none;
    background-size: cover;
    filter: saturate(1.3);
    font-size: 0.9em;
}
.sidebar-p{
    font-size: 0.9em;
    color: var(--pa-blue);
}

/* form styles */

.info-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 72%;
    padding: 1em 5.6em;
    transition: all 0.3s cubic-bezier(.76,.06,.12,.94);
}
.input-styles{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    transition: all 0.5s cubic-bezier(.76,.06,.12,.94);
    transform: translateY(60%);
    opacity: 0;
}
.input-styles-lable{
    color: var(--m-blue);
    font-weight: 500;
}
.title-p{
    color: var(--c-grey);
    margin-bottom: 1.4em;
}
.title-h{
    color: var(--m-blue);
    margin-bottom: 0.3em;
}

.inner-input{
    padding: 1em;
    width: 100%;
    border-radius: 0.5em;
    outline: 0.1em solid var(--l-grey);
    border: none;
    transition: all 0.4s cubic-bezier(.76,.06,.12,.94);
}
.inner-input:hover{
    outline: 0.1em solid var(--p-blue);
    cursor: pointer;
}
.bnts{
    display: flex;
    justify-content: space-between;
}
.form-btn{
    padding: 1em 1.5em;
    color: var(--white);
    background-color: var(--m-blue);
    border: none;
    width: 100%;
    border-radius: 0.5em;
    cursor: pointer;
    position: relative;
}
.form-btn:hover{
    background-color: rgb(42, 42, 124);
}
.form-btn2{
    padding: 0em 0em;
    color: var(--m-grey);
    background-color: var(--white);
    border: none;
    cursor: pointer;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 1.5em;
    transition: all 0.3s cubic-bezier(.76,.06,.12,.94);

}
.blubtn:hover{
    background-color: var(--pa-blue);
}
.addon-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
}
.title-space{
    margin-top: 1em;
}
.light-text{
    color: var(--c-grey);
}

/* transitions */
.input-transitions-in{
    transform: translateY(0%);
    opacity: 1;
}
.card-container.pop{
    transform: scale(100%) translateY(0%);
}
.plan-image.pop{
    transform: scale(100%) translateX(0%);
}
.plan-type.pop{
    transform: scaleX(100%);
}

.btn-shake{
    background-color: rgb(255, 71, 71);
    animation-name: shake;
    animation-duration: 0.5s; /* or: Xms */
    animation-iteration-count: 1;
    animation-direction: alternate; /* or: normal */
    animation-timing-function: cubic-bezier(.76,.06,.12,.94); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 0.1s; /* or: Xms */
    transition: all 0.5s cubic-bezier(.76,.06,.12,.94);
    box-shadow: 0px 2px 26px 1px rgba(255,71,71,0.78);
}
.btn-shake:hover{
    background-color: rgb(255, 71, 71);
}

@keyframes shake{
    
     10%, 90% {
       transform: translate3d(-1px, 0, 0);
     }
     20%, 80% {
       transform: translate3d(2px, 0, 0);
     }
     30%, 50%, 70% {
       transform: translate3d(-4px, 0, 0);
     }
     40%, 60% {
       transform: translate3d(4px, 0, 0);
     }

}

/* card */
.plan-image{
    height: 2.5em;
    width: 2.5em;
    border-radius: 2em;
    transform: scale(0%) translateX(200%);
    background-size: cover;
    transition: all 0.5s cubic-bezier(.76,.06,.12,.94);
}

.card-container{
    border: 0.11em solid var(--l-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5em;
    padding: 1em;
    width: 33.33%;
    transform: scale(0%) translateY(-60%);
    transition: all 0.3s cubic-bezier(.76,.06,.12,.94);
    cursor: pointer;
}
.card-display{
    display: flex;
    gap: 1em;
    font-size: 0.9em;
}
.plan-type{
    display: flex;
    gap: 2em;
    justify-content: center;
    background-color: var(--sec2-white);
    padding: 0.8em;
    margin-top: 0.7em;
    border-radius: 0.6em;
    font-size: 0.9em;
    transform: scaleX(0%);
    transition: all 0.55s cubic-bezier(.76,.06,.12,.94);
}
.selected-card{
    border-color: var(--p-blue);
    background-color: var(--sec-white);
}
.card-info{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-top: 3.5em;
    transition: all 0.5s cubic-bezier(.76,.06,.12,.94);
}
.card-container:hover{
    border: 0.11em solid var(--p-blue);
    background-color: var(--sec2-white);
}

.total-info{
    display: flex;
    justify-content: space-between;
}
.error{
    border: 0.1em solid var(--str-red);
    color: var(--str-red);;
}
.error:hover{
    border: none;
    color: var(--str-red);;
}
.p-error{
    color: var(--str-red);;
}
.lable-style{
    display: flex;
    justify-content: space-between;
    font-size: 0.98em;
}
.bnts.error-btn{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.hide{
    opacity: 0;
}
.er-p{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 83%;
    z-index: 100;
    left: 72.5%;
    font-size: 0.9em;
    color: var(--str-red);
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.76,.06,.12,.94); 
    animation-fill-mode: forwards;
    animation-delay: 0s;
}
.er-p2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 83%;
    z-index: 100;
    left: 79%;
    font-size: 0.9em;
    color: var(--str-red);
    animation-name: reveal;
    animation-duration: 0.5s; 
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(.76,.06,.12,.94); 
    animation-fill-mode: forwards; 
    animation-delay: 0s;

}
@keyframes reveal{
    
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
}
@media (max-width: 800px) {
    .login-Container{
        background-color: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        gap: 1em;
        top: 50%;
        left: 50%;
        padding: 1em;
        transform: translate(-50%, -50%);
        display: flex;
        border-radius: 1em;
        font-size: small;
    }

    .side-bar{
        border-radius: 0.6em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-position: bottom;
    }
    .about-num{
        display: none;
    }
    .info-form{
        width: 100%;
        height: 100vh;
        gap: 3em;
        margin: auto 0;
        padding: 1em 1.5em;
        margin: 1em 0em;
    }
    .side-points{
        margin: 3em 3em;
    }
    .er-p{
        left: 65%;
        top: 85%;  
    }
    .er-p2{
        left: 75%; 
        top: 85%;  
    }
    .card-display{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-info{
        position: absolute;
        top: -50%;
        left: 20%;
    }
    .card-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 5.4em;
        position: relative;
    }
    .plan-image{
        width: 3em;
        height: 3em;
    }
  }
  


