.th-icon{
    height: 3.4em;
    width: 3.4em;
    transform: scale(0%);
    transition: all 0.3s cubic-bezier(.76,.06,.12,.94);
}
.th-icon.popanimate{
    transform: scale(120%);
}
.th-container{
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    opacity: 0;
    transition: all 0.5s cubic-bezier(.76,.06,.12,.94);
}
.th-container.reveal{
    opacity: 1;
}
.th-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-align: center;
    transition: all 0.3s cubic-bezier(.76,.06,.12,.94);
}
