:root {
  --text-b: Ubuntu-Bold;
  --text-m: Ubuntu-Medium;
  --text-r: Ubuntu-Reguler;
  --p-blue: hsl(243, 100%, 62%);
  --m-blue: hsl(213, 96%, 18%);
  --pa-blue: hsl(228, 100%, 84%);
  --l-blue: hsl(206, 94%, 87%);
  --str-red: hsl(354, 84%, 57%);
  --c-grey: hsl(231, 11%, 63%);
  --l-grey: hsl(229, 24%, 87%);
  --sec-white: hsl(217, 100%, 97%);
  --sec2-white: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}
